/* Split the screen vertically for login and register */
.auth-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
  }
  
  .login-section, .register-section {
    flex: 1; 
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    margin-right: 5rem; /* Add margin between sections */
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top: -7rem;
  }
  
  .login-section {
    background-color: black;
    height: 30rem;
  }
  
  .register-section {
    background: black;
    height: 30rem;
  }
  
  /* Style for form elements */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
  }
  
  input[type="email"], input[type="password"], input[type="text"] {
    width: 70%;
    padding: 10px;
    margin: 18px 0;
    border-radius: 4px;
    border: 1px solid #000000;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(18, 18, 18);
    border: 1px solid rgba(255, 255, 255, 0.144);
    padding-left: 0.7rem;
  }
  input[type="email"]::placeholder,
  input[type="password"]::placeholder,
  input[type="text"]::placeholder {
    width: 70%;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: rgb(101, 100, 100);
}

  
  .ln-button {
    padding: 10px 20px;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(to right, #096109, #03c103); 
    color: white;
    cursor: pointer;
    margin-top: 20px;
    width: 50%;
    height: 3rem;
    font-size: 25px;
    font-weight: 700;
    transition: 0.5s;
  }
  
  .ln-button:hover {
    background: linear-gradient(to right, #03c103, #096109); 
    color: white;
  }

  .ln-button:active{
    color: black;
    transition: 0s;
  }
  
  /* Add headings */
  .login-section h2, .register-section h2 {
    text-align: center;
    margin-bottom: 110px;
    color: transparent; 
    font-size: 3rem;
    margin-top: 1rem;
    background: linear-gradient(to right, #03c103, #096109); 
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text;
}

  
  @media (max-width: 768px) {
    .auth-container {
      flex-direction: column;
    }
  
    .login-section, .register-section {
      border-right: none;
      border-bottom: 2px solid #ddd;
      margin-right: 0;
    }
  }
  