.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #054505, #019601); 
    color: #fff; 
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    font-family: sans-serif;
    position: fixed;
    width: 100%;
    top:0;
  }


  .nav-logo{
    display: flex;
    justify-content: space-between;
  }

.navbar-img-logo{
    height: 45px;
    width: 55px;
    margin-left: 15px;
    margin-right: 15px;
}
  
  .navbar-logo-text {
    font-size: 28px;
    font-weight: 700;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
  }

  

  
  .navbar-links {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  
  .navbar-links a {
    color: #fff; 
    text-decoration: none;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
  }


  .nav-item:hover{
    color: gold;
    padding-bottom: 0.3rem;
    transition: 0.3s;
  }

  .nav-item:active{
    color: white;
    transition: 0.3s;
  }