
.Debts-Owed{
    margin-top: 6.5rem;
    margin-bottom: 20rem;
}

.dow-table {
    color: white;
    width: 98.3%;
    overflow-x: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left:1rem;
    font-size: 20px;
  }
  
  .dow-table th,
  .dow-table td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
  }
  
  .dow-table th {
    background: green;
    border-color: green;
    font-size: 20px;
  }
  
  /* Target the last column in the table */
.dow-table td:last-child,
.dow-table th:last-child {
    width: 10px;
    align-items: center;
}

.dow-table td:first-child,
.dow-table th:first-child {
    font-weight: 700;
}
 
 
  
  .dow-table button {
    padding: 5px 0px;
    border: none;
    background-color: white; 
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-weight: 600;
    width: 20rem;
  }
  
  .dow-table button:hover {
    background-color: rgb(47, 45, 45); 
    color: white;
  }
  .dow-table button:active {
    background-color: yellow;
    color:  rgb(47, 45, 45); 
    transition: 0.3s;
  }

  



/*Debts Owed*/
.debts-owed-heading {
  font-size: 1.5em;
  color: #333; /* Or any color that suits your design */
  margin-bottom: 20px;
}

.debts-owed-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.debts-owed-table th, .debts-owed-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.debts-owed-table th {
  background-color: #f0f0f0;
}

.debts-owed-table tr:nth-child(even) {
  background-color: #f7f7f7;
}

.pay-button {
  padding: 5px 10px;
  background-color: #007bff; /* Green color for 'Pay' button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pay-button:hover {
  background-color:  #0056b3; /* Darker green on hover */
}

.trade-modal-content {
  background: white;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #000000; /* Defined border */
  width: 50%; /* Smaller width */
  max-width: 400px; /* Maximum width */
}

.trade-modal-header {
  font-size: 1.2em; /* Smaller font size */
  margin-bottom: 10px;
}

.trade-modal-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.trade-modal-button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.trade-modal-button-primary {
  background-color: #007bff;
  color: white;
  margin: 5px;
}

.trade-modal-button-primary:hover {
  background-color: #0056b3;
}

.trade-modal-button-secondary {
  background-color: #6c757d;
  color: white;
}

.trade-modal-button-secondary:hover {
  background-color: #545b62;
}


.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

